<p class="term" (mouseover)='alteraPosicaoDaTooltip($event.x, $event.y); exibeTooltip()' (mouseleave)='escondeTooltip()'>DOM</p>

<div class="tooltip" [class.visible]="visible">
  <p>O Document Object Model (DOM) conecta páginas da web a scripts ou linguagens de programação, representando a
    estrutura de um documento - como o HTML que representa uma página da web - na memória. Geralmente, isso significa
    JavaScript, embora modelar documentos HTML, SVG ou XML como objetos não faça parte da linguagem JavaScript em si.
  </p>
</div>
